body {
    font-family: sans-serif;
    color: white;
    background-color: #222;
}

#container {
    position: relative;
    width: 30em;
    margin: auto;
}

.section {
    margin: 0.4em 0;
}

span {
    font-weight: bold;
}

.label {
    float: left;
    width: 6em;
    height: 1.4em;
    padding-top: 0.4em;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button {
    float: right;
    text-align: center;
    width: 4em;
    height: 1.4em;
    padding-top: 0.4em;
    background-color: #444;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button:hover {
    background-color: #777;
}

.button:active {
    background-color: #555;
}

textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 20em;
    height: 1.8em;
    vertical-align: top;
    font-size: 1em;
    font-family: sans-serif;
    color: white;
    background-color: #111;
    border-width: 0.15em;
    border-color: #444;
    resize: none;
}

textarea:hover {
    border-color: #777;
}

textarea.readonly {
    border-style: dotted;
    background-color: #222;
}

textarea.decode {
    border-color: deepskyblue;
}

textarea.encode {
    border-color: red;
}

textarea.copy {
    border-color: green;
}

.copied {
    display: none;
    position: absolute;
    left: 6em;
    width: 20em;
    height: 1.1em;
    text-align: center;
    background-color: green;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.copied.show {
    display: inline;
}
