body {
	margin: 0;
	font-family: sans-serif;
	color: white;
	background-color: #222;
}

#warn-ES6,
#noscript {
	display: block;
	line-height: 2rem;
	width: 100%;
	font-size: 125%;
	text-align: center;
	background-color: #F70;
	box-shadow: 0 0 1rem black;
}

#warn-ES6 {
	display: none;
}

label,
nav > a,
h1,
button,
#tip {
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

nav,
h1,
.row,
p,
ul {
	width: 30rem;
	margin: 0 auto;
}

p {
	margin: 1rem auto;
}

ul {
	width: 29rem;
}

nav > label,
nav > a {
	float: right;
	line-height: 1.4rem;
	margin-left: 1rem;
	text-shadow: 0 0 0.2rem black;
	color: #AAA;
	border-top: 0.2rem solid transparent;
	cursor: pointer;
}

nav > label[for=nav-main] {
	display: inline-block;
	float: none;
	margin: 0;
}

nav > label.selected {
	color: #EEE;
	border-color: #444;
}

nav > label:hover,
nav > a:hover {
	text-decoration: none;
	color: white !important;
	border-color: #777;
}

input {
	display: none;
}

section {
	position: relative;
}

#nav-main:checked ~ #main,
#nav-faq:checked ~ #faq {
	display: block;
	animation: fade-up 0.3s;
}

#nav-main:checked ~ #faq,
#nav-faq:checked ~ #main {
	display: none;
}

@keyframes fade-up {
	from {
		top: 2rem;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

h1 {
	margin: 1.2rem auto;
	font-size: 150%;
	font-weight: normal;
	text-shadow: 0 0 0.2rem black;
	color: #AAA;
}

#main > h1:first-of-type {
	margin: 2rem auto 0.7rem auto;
}

#faq > h1 {
	margin-top: 2rem;
}

label[for=encode-options-button] {
	float: right;
	cursor: pointer;
}

#encode-options {
	overflow: hidden;
	height: 0;
	width: 100%;
	background-color: #1A1A1A;
	box-shadow: 0 0.4rem 0.4rem -0.4rem black inset, 0 -0.4rem 0.4rem -0.4rem black inset;
	transition: height 0.2s;
}

#encode-options-button:checked + #encode-options {
	height: 2.2rem;
	transition: height 0.2s;
}

#encode-options > div {
	margin: 0.2rem auto;
}

#out-prepend,
#out-append {
	width: 13.5rem;
}

.row {
	margin: 0.5rem auto;
}

button {
	padding: 0;
	font-family: sans-serif;
	border: none;
}

.button.clear {
	background: no-repeat center/80% url(images/backspace.svg);
}

.button.copy {
	background: no-repeat center/70% url(images/clipboard.svg);
}

label[for=files] {
	background: no-repeat center/80% url(images/file-upload.svg);
}

.button.svg,
label[for=files] {
	float: right;
	height: 1.8rem;
	line-height: 1.8rem;
	width: 2.2rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: #CCC;
	background-color: #444;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.2rem black;
	cursor: pointer;
}

.button.svg:hover,
label[for=files]:hover,
.embed-img-container.blocked:hover::after,
label[for=encode-options-button]:hover {
	filter: brightness(1.5);
}

.button.svg:active,
label[for=files]:active,
.embed-img-container.blocked:active::after,
label[for=encode-options-button]:active {
	filter: brightness(0.8);
	outline: none;
}

textarea,
.text-div,
.embed-div {
	height: auto;
	width: 27.3rem;
	padding: 0.12rem;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
	color: white;
	border: 0.12rem solid #444;
}

textarea {
	height: 1.8rem;
	font-family: sans-serif;
	vertical-align: top;
	background-color: #111;
	box-shadow: 0 0 0.4rem black inset, 0 0 0.2rem black;
	resize: none;
}

.text-div {
	min-height: 1.8rem;
	margin-top: 0.5rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: #111;
	border-style: dashed;
	cursor: text;
}

#out-cover,
#in-cipher {
	color: black;
	background-color: #DDD;
	box-shadow: 0 0 0.4rem #888 inset, 0 0 0.2rem black;
}

#in-plain:first-child {
	margin-top: 0;
}

.embed-div {
	background-color: #1A1A1A;
	border: none;
	box-shadow: 0 0 0.4rem black inset;
}

textarea:hover,
.text-div:hover {
	border-color: #777;
}

textarea:focus,
.text-div:focus {
	border-color: #49F;
	outline: none;
}

textarea[readonly] {
	background-color: #222;
	border-style: dashed;
	box-shadow: none;
	cursor: text;
}

textarea.encoded,
.text-div.decoded {
	border-color: #BBB;
}

textarea.copied {
	border-color: #0B0;
}

.text-div.error {
	border-color: #C00;
}

#warn-size {
	position: relative;
	display: none;
	width: 27.3rem;
	padding: 0.8rem 0;
	background: repeating-linear-gradient(135deg,
		#ED0,
		#ED0 0.5rem,
		transparent 0.5rem,
		transparent 1rem
	);
}

#warn-size > p {
	width: calc(100% - 4rem);
	padding: 0.12rem 1px 0.12rem 4rem;
	margin: 0;
	background-color: #222;
}

#warn-size::before {
	position: absolute;
	top: 0;
	left: 0.5rem;
	font-family: sans-serif, 'Segoe UI Symbol';
	font-size: 3.5rem;
	color: #ED0;
	content: '\26A0\FE0E';
}

.notify {
	overflow: hidden;
	height: 1.1rem;
	width: 27.3rem;
	margin-top: -1px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.copied-div {
	visibility: hidden;
	background-color: #0B0;
}

textarea.copied + .copied-div {
	visibility: visible;
}

.error-div {
	background-color: #C00;
}

.text-div:empty::before {
	color: #777;
	content: 'Read secret message';
}

::-webkit-input-placeholder {
	color: #777;
}

::-moz-placeholder {
	color: #777;
	opacity: 1;
}

::-webkit-scrollbar {
	width: 0.5rem;
	min-width: 12px;
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

::-webkit-scrollbar-thumb:active {
	background-color: #555;
}

a {
	text-decoration: none;
	color: #49F;
}

a:hover {
	text-decoration: underline;
}

.file {
	position: relative;
	padding: 0 1rem 0 2rem;
	background: no-repeat left 0.05rem/2rem url(images/file.svg) #111;
}

.file-info {
	width: auto;
	margin: 0;
	font-size: 80%;
	color: #AAA;
}

.file-remove {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1rem;
	width: 1rem;
	font-size: 150%;
	color: #AAA;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.file-remove:hover {
	color: #C00;
}

.file-remove:active {
	color: #800;
}

.file-download {
	display: inline-block;
	padding: 0.2rem;
	margin: 0.2rem 0;
	color: white;
	background: no-repeat 0.1rem/1rem url(images/file-download.svg) #06C;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.2rem black;
	outline: none;
}

.file-download:hover {
	text-decoration: none;
	background-color: #08F;
}

.file-download:active {
	background-color: #04A;
}

.file-download::before {
	margin: 0 0.1rem 0 0.9rem;
	content: 'Download';
}

.embed {
	display: block;
	width: 100%;
	padding: 0.1rem;
	box-sizing: border-box;
}

.embed-img-container {
	position: relative;
	overflow: hidden;
}

.embed-img-container.blocked::after {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 3rem;
	width: 3rem;
	margin: -1.5rem 0 0 -1.5rem;
	background: no-repeat center/90% url(images/eye.svg) #444;
	border-radius: 50%;
	cursor: pointer;
	content: '';
}

.embed-img-container.blocked > img.embed {
	-webkit-filter: blur(1rem);
	        filter: blur(1rem);
	cursor: pointer;
}

img.embed.zoomable {
	cursor: pointer;
}

#zoom {
	position: fixed;
	width: auto;
	max-width: 25.3rem;
	padding: 0.1rem;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
	cursor: pointer;
}

#zoom.zoom-end {
	top: 50%;
	left: 50%;
	max-width: 98vw;
	max-height: 98vh;
	transition: all 0.5s;
}

#background {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

#background.fade-in {
	animation: fade-in 0.5s;
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

iframe.embed {
	height: 15.3rem;
	border: none;
}

#tip {
	margin: 4rem 0 2rem 0;
	font-size: 60%;
	text-align: center;
	color: #777;
}

.key {
	color: #222;
	background-color: #DDD;
	border: 0.1em solid #AAA;
	border-radius: 0.2rem;
}

#tab-loop {
	overflow: hidden;
	height: 0;
}

#drop-target {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#drop-target::before {
	position: fixed;
	top: 2rem;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	line-height: calc(100vh - 6rem);
	font-size: 2rem;
	text-align: center;
	background: no-repeat center calc(50% - 4rem)/5rem url(images/file-upload.svg);
	border: 1rem dashed rgba(255, 255, 255, 0.5);
	content: 'Drop files to encode';
}

@media only screen
and (max-width: 480px) {
	nav,
	h1,
	.row,
	p,
	ul {
		width: 22.5rem;
	}

	nav > label,
	nav > a {
		line-height: 1.75rem;
		font-size: 125%;
	}

	#main > h1:first-of-type {
		margin-bottom: 0.2rem;
	}

	#out-prepend,
	#out-append {
		width: 9.5rem;
	}

	.row {
		margin: 1rem auto;
	}

	textarea,
	.text-div,
	#warn-size,
	.embed-div,
	.notify {
		width: 19.3rem;
	}

	.text-div {
		margin-top: 1rem;
	}

	#zoom {
		width: 19.1rem;
	}

	iframe.embed {
		height: 10.85625rem;
	}
}
