body {
    font-family: sans-serif;
    color: white;
    background-color: #222;
}

#container {
    position: relative;
    margin: 0 1em;
}

.title {
    margin: 0.4em 0;
}

span {
    font-weight: bold;
}

.button {
    -webkit-user-select: none;      
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.clear {
    float: right;
    padding: 0 0.15em;
    background-color: #444;
}

.clear:hover {
    background-color: #777;
}

.clear:active {
    background-color: #555;
}

.encode {
    background-color: #622;
}

.encode:hover {
    background-color: #922;
}

.encode:active {
    background-color: #722;
}

.decode {
    background-color: #235;
}

.decode:hover {
    background-color: #239;
}

.decode:active {
    background-color: #237;
}

textarea {
    width: 100%;
    height: 4em;
    margin: 0 0 0.4em;
    font-family: sans-serif;
    color: white;
    background-color: #111;
    font-size: 1em;
}

textarea.readonly {
    background-color: #222;
}
