html {
	max-height: 40rem;
	margin: 0;
	font-family: sans-serif;
	font-size: 100%;
	color: white;
	background-color: #222;
}

label,
nav > a,
h1,
button,
#tip {
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

h1,
.row {
	width: 24rem;
	margin: 0 auto;
}

h1 {
	margin: 0 auto;
	font-size: 150%;
	font-weight: 500;
	text-shadow: 0 0 0.2rem black;
	color: #AAA;
}

.row {
	margin: 0.5rem auto;
}

button {
	padding: 0;
	font-family: sans-serif;
	border: none;
}

.button,
label[for=files] {
	float: right;
	height: 1.8rem;
	line-height: 1.8rem;
	width: 4rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: #CCC;
	background-color: #444;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.2rem black;
	cursor: pointer;
}

.button:hover,
label[for=files]:hover,
.embed-img-container.blocked:hover::after {
	color: white;
	background-color: #777;
}

.button:active,
label[for=files]:active,
.embed-img-container.blocked:active::after {
	color: #888;
	background-color: #333;
}

textarea,
.text-div,
.embed-div {
	height: auto;
	width: 19.5rem;
	padding: 0.12rem;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
	color: white;
	border: 0.12rem solid #444;
}

textarea {
	height: 1.8rem;
	font-family: sans-serif;
	vertical-align: top;
	background-color: #111;
	box-shadow: 0 0 0.4rem black inset, 0 0 0.2rem black;
	resize: none;
}

.text-div {
	min-height: 1.8rem;
	margin-top: 0.5rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: #111;
	border-style: dashed;
	cursor: text;
}

#out-plain ~ .text-div {
	position: relative;
	padding-right: 1rem;
}

#out-cover,
#in-cipher {
	color: black;
	background-color: #DDD;
	box-shadow: 0 0 0.4rem #888 inset, 0 0 0.2rem black;
}

#in-plain:first-child {
	margin-top: 0;
}

.embed-div {
	background-color: #1A1A1A;
	border: none;
	box-shadow: 0 0 0.4rem black inset;
}

textarea:hover,
.text-div:hover {
	border-color: #777;
}

textarea:focus,
.text-div:focus {
	border-color: #49F;
	outline: none;
}

textarea[readonly] {
	background-color: #222;
	border-style: dashed;
	box-shadow: none;
	cursor: text;
}

textarea.encoded,
.text-div.decoded {
	border-color: #BBB;
}

textarea.copied {
	border-color: #0B0;
}

.text-div.error {
	border-color: #C00;
}

.notify {
	overflow: hidden;
	height: 1.1rem;
	width: 19.5rem;
	margin-top: -1px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.copied-div {
	visibility: hidden;
	background-color: #0B0;
}

textarea.copied + .copied-div {
	visibility: visible;
}

.error-div {
	background-color: #C00;
}

.text-div:empty::before {
	color: #777;
	content: 'No secret message detected';
}

::-webkit-input-placeholder {
	color: #777;
}

::-webkit-scrollbar {
	width: 0.5rem;
	min-width: 12px;
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

::-webkit-scrollbar-thumb:active {
	background-color: #555;
}

a {
	text-decoration: none;
	color: #49F;
}

a:hover {
	text-decoration: underline;
}

.file-info {
	width: auto;
	margin: 0;
	font-size: 80%;
	color: #AAA;
}

.file-remove {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1rem;
	width: 1rem;
	font-size: 150%;
	color: #AAA;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.file-remove:hover {
	color: #C00;
}

.file-remove:active {
	color: #800;
}

.file-download {
	display: inline-block;
	padding: 0.2rem;
	margin: 0.2rem;
	color: white;
	background-color: #06C;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.2rem black;
}

.file-download:hover {
	text-decoration: none;
	background-color: #08F;
}

.file-download:active {
	color: #AAA;
	background-color: #04A;
}

.embed {
	display: block;
	width: 100%;
	padding: 0.1rem;
	box-sizing: border-box;
}

.embed-img-container {
	position: relative;
	overflow: hidden;
}

.embed-img-container.blocked::after {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 3rem;
	width: 3rem;
	margin: -1.5rem 0 0 -1.5rem;
	font-family: sans-serif, 'Segoe UI Symbol', EmojiSymbols;
	font-size: 250%;
	text-align: center;
	color: #CCC;
	background-color: #444;
	border-radius: 50%;
	cursor: pointer;
	content: '\1F441\FE0E';
}

.embed-img-container.blocked > img.embed {
	-webkit-filter: blur(1rem);
	        filter: blur(1rem);
	cursor: pointer;
}

iframe.embed {
	height: 14.11875rem;
	border: none;
}

#drop-target::before {
	position: fixed;
	top: 2rem;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	line-height: calc(100vh - 6rem);
	font-size: 2rem;
	text-align: center;
	border: 1rem dashed rgba(255, 255, 255, 0.5);
	content: 'Drop files to encode';
}
